### Data Preparation - NLP

In [1]:
# unicode, regex, json for text digestion
import unicodedata
import re
import json

# nltk: natural language toolkit -> tokenization, stopwords (more on this soon)
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

# pandas dataframe manipulation, acquire script, time formatting
import pandas as pd
import acquire
from time import strftime

# shh, down in front
import warnings
warnings.filterwarnings('ignore')

In [3]:
blog_1 = acquire.get_blog_posts('https://codeup.com/workshops/from-bootcamp-to-bootcamp-a-military-appreciation-panel/')
blog_2 = acquire.get_blog_posts('https://codeup.com/featured/our-acquisition-of-the-rackspace-cloud-academy-one-year-later/')
blog_3 = acquire.get_blog_posts('https://codeup.com/workshops/virtual/learn-to-code-html-css-on-4-30/')
blog_4 = acquire.get_blog_posts('https://codeup.com/workshops/virtual/learn-to-code-python-workshop-on-4-16/')
blog_5 = acquire.get_blog_posts('https://codeup.com/codeup-news/coming-soon-cloud-administration/')
codeup_blog_posts = pd.DataFrame([blog_1, blog_2, blog_3, blog_4, blog_5])
codeup_blog_posts

,title,content
0,From Bootcamp to Bootcamp | A Military Appreci...,"In honor of Military Appreciation Month, join ..."
1,Our Acquisition of the Rackspace Cloud Academy...,"Just about a year ago on April 16th, 2021 we a..."
2,Learn to Code: HTML & CSS on 4/30,HTML & CSS are the design building blocks of a...
3,Learn to Code: Python Workshop on 4/23,"According to LinkedIn, the “#1 Most Promising ..."
4,Coming Soon: Cloud Administration,We’re launching a new program out of San Anton...

In [5]:
business_articles = acquire.get_news_articles('https://inshorts.com/en/read/business', 'business')
sports_articles = acquire.get_news_articles('https://inshorts.com/en/read/sports', 'sports')
tech_articles = acquire.get_news_articles('https://inshorts.com/en/read/technology', 'technology')
entertainment_articles = acquire.get_news_articles('https://inshorts.com/en/read/entertainment', 'entertainment')
news = pd.concat([business_articles, sports_articles, tech_articles, entertainment_articles], axis=0).reset_index()
news

,index,title,content,category
0,0,Rupee hits all-time low of 77.42 against US do...,The Indian rupee fell to an all-time low of 77...,business
1,1,Bitcoin falls to the lowest level since Januar...,"Bitcoin fell on Monday to as low as $33,266 in...",business
2,2,Made best possible decision: IndiGo on barring...,IndiGo's CEO Ronojoy Dutta said the airline ma...,business
3,3,Rupee closes at all-time low of 77.50 against ...,The Indian rupee weakened further on Monday to...,business
4,4,India's biggest IPO of LIC subscribed nearly 3...,"LIC's IPO, India's biggest IPO which opened on...",business
...,...,...,...,...
94,20,Akshay only praised Kashmir Files as his film ...,Filmmaker Vivek Agnihotri in an interview has ...,entertainment
95,21,"Nimrat Kaur shares pic of tattoo, says got it ...",Actress Nimrat Kaur shared a series of picture...,entertainment
96,22,"Mahesh Babu recalls losing his 'dear ones', sa...","During a speech at an event, actor Mahesh Babu...",entertainment
97,23,Took me a while to break it: Isha Koppikar on ...,"Isha Koppikar, who has been a part of several ...",entertainment
98,24,OTT is huge but hard to say if OTT actors are ...,Actor Sudhanshu Pandey has stated that there's...,entertainment